@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  padding-bottom: 5px;
  width: 525px;
  min-height: 275px;
}

.container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.logo-lockup {
	align-items: center;
	display: flex;
	max-width: 50%;
}

.logo {
	display: inline-block;
	max-width: 40px;
	vertical-align: middle;
}

.tagline {
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 5px;
	vertical-align: middle;
}

input, textarea {
	font-family: 'Source Sans Pro', sans-serif !important;
}

input[type=submit] {
	font-family: 'Montserrat', sans-serif !important;
}

input:focus, button:focus, textarea:focus {
	outline: none !important;
    border: 2px solid #7789A2;
}
