.login {
    display: inline-block;
    margin-top: 5px;
    max-width: 50%;
    text-align: right;
    transition: height 500ms 0ms, opacity 500ms 500ms;
}

.login .user-avatar {
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.login .hidden {
    display: none;
}

.login label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.login input.error {
    border: 2px solid red;
    color: red;
}

.login .errors {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.login .currentuser {
	display: inline-block;
    font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

.login input {
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.login button {
	background-color: #7789A2;
    border: 1px solid #7789a2;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    vertical-align: middle;
}

.login input[type="submit"] {
    background-color: #7789A2;
    border-color: #7789A2;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    max-width: 100px;
    width: 100%;
}

.user-avatar, .currentuser, .user svg {
    position: relative;
    z-index: 99;
}

.user {
    position: relative;
}

.user .submenu {
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    height: 45px;
    line-height: 70px;
    padding: 20px 10px;
    position: absolute;
    top: -5px;
    right: -10px;
    width: 100%;
}

.user:hover .submenu {
    display: block;
}

.user svg {
    height: 15px !important;
    margin-left: 5px;
    transform: rotate(-180deg);
    vertical-align: middle;
    width: 15px !important;
}

.login .logout {
    border: none;
}

.login-form {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    background-color: white;
    padding: 20px;
    max-width: 500px;
}